The config file is divided into sections which start with a line like
[body], where body is either default (everything in this section,
which should be at the top, applies to all bodies unless overridden
later), or a body name like saturn.

I won't explain the format of the config file beyond that; instead
just look at the default supplied with xplanet.  It should be
straightforward.  When making your own config file just modify a copy
of the default config file.  Each option is described below.  The
default values are the values used in the absence of a corresponding
entry in the configuration file.

arc_color
Specify the default color for great arcs.  This color will be
overridden if a color is specified for an arc in the arc file.  The
color may be specified either as a name, a hexadecimal number, or as
an RGB triple.  For example, arc_color=red, arc_color=0xff0000, and
arc_color={255,0,0} all mean the same thing.  The default value is
white.

arc_file
Specify a great arc file for this planet.  This option may be used
more than once.  Each line should have the following syntax:

lat1 lon1 lat2 lon2

where all values are in degrees.  In addition, the keywords "color"
and "spacing" are supported as in the example below:

33.9 -118.4 52.3 4.8 color=SpringGreen spacing=0.5 # LAX-AMS

Valid values for "color" are the same as for the -color option.  The
value for spacing defines the distance between dots on the great arc.
The default is 0.1 degree.  Delimiters (whitespace, tabs, or commas)
are not permitted in any of these keyword/value pairs.  Anything after
the # character is ignored.  The default is no arc files.

cloud_gamma
Apply a gamma correction to the cloud image before overlaying.  Each
pixel's brightness is adjusted according to:
new_value = 255 * [(old_value/255)^(1/gamma)]
The default is 1 (no gamma correction).

cloud_map
Specify an image to overlay on the planet map.  The default is no
cloud map.

cloud_threshold
Cloud pixel values below threshold will be ignored.  The value for
threshold should be between 0 and 255.  The default is 90.

color
If an image map for the body is not found, use the specified color
instead.  The default is white, although a color is specified for most
bodies in the default configuration file.

draw_orbit
If true, draw the body's orbit about its primary.  The default is
false.  See "orbit" below on how to describe how the orbit is drawn.
The default is to not draw orbits.

grid
Draw a longitude/latitude grid.  The spacing of major grid lines and
dots between major grid lines can be controlled with the grid1 and
grid2 options (see below).  The default is false.

grid1
Specify the spacing of grid lines. Grid lines are drawn with a
90/grid1 degree spacing. The default value for grid1 is 6,
corresponding to 15 degrees between major grid lines. 

grid2
Specify the spacing of dots along grid lines.  Grid dots are drawn
with a 90/(grid1 x grid2) degree spacing.  The default value for grid2
is 15; combined with the default grid1 value of 6, this corresponds to
placing grid dots on a one degree spacing.

image
Specify the image map to use.  The default is body.jpg
(e.g. earth.jpg, neptune.jpg)

magnify
Draw the body as if its radius were magnified by the specified
factor.  This is useful for a lot of moons, as normally they would be
drawn as dots compared to their primary.  The default is 1 (no
magnification).  

map
Same as the image option above.

mapbounds={lat1,lon1,lat2,lon2}
Assume that each map file read in has its northwest corner at
lat1,lon1 and its southeast corner at lat2,lon2.  This is useful if
you have a high-res map but just want to show a small area.

marker_color
Specify the default color for all markers.  This color will be
overridden if a color is specified for a marker in the marker file.
The default is red.

marker_file
Specify a file containing user defined marker data to display on the
map.  The format of each line is generally latitude, longitude,
string, as in the example below:

33.943 -118.408 "Los Angeles" # USA 

Anything after a # is ignored.  

In addition, Xplanet supports the "align", "color", "font",
"fontsize", "image", "position", "radius", and "transparent" keywords.
If used, keywords must follow the text string.

The "align" keyword is used to place the marker string in relation to
the marker itself.  Valid "align" values are "right", "left", "above",
"below", or "center".  If the "align" keyword is not specified,
Xplanet will attempt to place the marker string so as not to overlap
other markers.

Valid values for "color", "font", and "fontsize" are the same as for
the -color, -font, and -fontsize options, respectively.  

Valid values for "image" are either "none" or the name of an image
file.  If the "image" keyword is not specified, Xplanet will draw a
circular marker.  Xplanet looks for image files in the same places it
looks for map files.

Valid values for "position" are "absolute", "pixel", or a body name
(e.g. position=moon).  Using "pixel" means that the given coordinates
are pixel values, where positive values are relative to the top or
left edges, and negative values are relative to the right or bottom
edge.  Using "absolute" means the pixel values are relative to the
upper left corner, so negative values are off of the screen.  If the
"position" keyword is not specified, Xplanet assumes the two
coordinates given in the marker file are latitude and then longitude.

The "radius" keyword is used to place the marker at the specified
distance from the planet's center, in units of the planetary radius.
A radius value of 1 places the marker at the planet's surface.

The "symbolsize" keyword controls the size in pixels of the circular
marker.  The default is 6.

The "timezone" keyword is used to specify a value for the TZ
environment variable when the marker is drawn.  If this keyword is
specified, the marker string is passed through strftime(3) before
being displayed.  See the earth marker file for more details.

The "transparent" keyword is only meaningful in conjunction with
"image".  The format must be "transparent={R,G,B}" where the RGB
values range from 0 to 255.  Any pixels with this color value will be
considered to be transparent.

Delimiters (whitespace, tabs, forward slashes, or commas) are not
permitted in any of these keyword/value pairs (except for with
"transparent", as shown above).  The text string may be enclosed in
either quotes ("") or braces ({}).

Some sample marker file entries are given below:

33.943 -118.408 "Los Angeles" align=below color=blue font=10x20 # USA 
33.943 -118.408 {Los Angeles} align=below color=blue font=10x20 # USA 
Each of these will draw a circular marker at latitude 33.943,
longitude -118.408, with a text label "Los Angeles" below it, colored
blue and using font 10x20.  

20 10 "This is xplanet" image=none position=pixel 
This draws the string "This is xplanet" at pixel coordinates y=20,
x=10, with no marker.  (0,0) is the upper left corner of the screen.
If y or x is negative, it is taken to be the number of pixels from the
bottom or right side of the screen, respectively.

position=sun image=smile.png transparent={255,255,255}
This draws the image "smile.png" at the subsolar point.  Any pixels
with the RGB values {255,255,255} will be considered transparent.
Using "position=moon" will draw the image at the sublunar point.

-1.12479 251.774 radius=1.09261 {HST} 
This draws a circular marker for the Hubble Space Telescope above
latitude -1.12479, longitude 251.774 degrees, at a distance of 1.09261
earth radii from the center of the earth and labels it "HST".

40.70  -74.00 "New York %H:%M %Z" timezone=America/New_York
This draws a marker with "New York" followed by the time in HH:MM ZZZ
where ZZZ is the string for the time zone (either EST or EDT).

This option may be used more than once.  The default is no marker
file.

marker_font
Specify the default font for all markers.  This option may be
overridden inside the marker file.  The default is blank (use the
value from the command line -font option).

max_radius_for_label
Don't draw a label for the body if its radius is greater than this
value.  The default is 3 pixels.

min_radius_for_label
Don't draw a label for the body if its radius is less than this
value.  The default is 0.01 pixel.

min_radius_for_markers
Don't draw markers on the body if its radius is less than this value.
The default is 40 pixels.

night_map
Use night_file as the night map image.  If this option is not
specified, a default night map will be used for the earth.  If this
file is not found, or for the other planets, the night map will be a
copy of the day map, modified as described under the shade option.

orbit
Specify the start, end, and increment for the orbit.  The units are
orbital period and degrees.  The default is {-0.5,0.5,2}.  Remember to
set "draw_orbit=true".

orbit_color
Specify the color for the orbit.  The default is white.

random_origin 
If false, don't use this body with -origin random, major, or system.
The default is true.

random_target
If false, don't use this body with -target random or major.  The
default is true.

satellite_file
Specify a file containing a list of satellites to display.  A file
containing NORAD two line element (TLE) sets named satfile.tle must
exist along with satfile.  A good source of TLEs is www.celestrak.com.
A sample TLE entry for the International Space Station looks like
this:

ISS (ZARYA)             
1 25544U 98067A   01286.44085648  .00059265  00000-0  81723-3 0  5959
2 25544  51.6394 213.7002 0007838 194.2620 314.2054 15.56596996165535

Each line in satfile must begin with a satellite ID number (e.g. 25544
for the ISS).  Each ID must exist in the associated TLE file. 

Valid additional keywords are "align", "altcirc", "color", "font",
"fontsize", "image", "position", "spacing", "trail", and
"transparent".  The usage for most of these is identical to the usage
for the -greatarcfile and -markerfile options.  In addition, a string
to be plotted with the marker may be enclosed in either double quotes
(""), or braces ({}).  If a string is not supplied, the marker will
take the name of the satellite supplied in the TLE file.

The "altcirc" keyword draws altitude circles on the surface of the
earth.  The format is "altcirc=angle", where a circle is drawn
bounding the area where the satellite is greater than angle degrees
above the horizon.  For example, altcirc=0 draws a circle bounding the
region where the satellite is above the horizon, while altcirc=45
draws a circle bounding the region where the satellite is more than 45
degrees above the horizon.  This may be specified more than once.

The "trail" keyword is used to specify an orbit trail.  The format
must be "trail={ground|orbit,start_time,end_time,interval}", where the
start and end times and interval are each in minutes.  The start and
end times are relative to the time of the calculation.  When using the
-projection option, trail will always be "ground".

A few sample entries are given below:

25544
This draws a marker with the string "ISS (ZARYA)" for the
International Space Station. 

25544 "The Space Station"
This draws a marker with the string "The Space Station" for the
International Space Station. 

25544 "" image=iss.png transparent={0,0,0} altcirc=0 
This draws iss.png at the current position of the International Space
Station.  No text string is drawn.  A curve containing the area where
the International Space Station is above the horizon is drawn.

25544 "" image=iss.png transparent={0,0,0} altcirc=0 altcirc=45 trail={orbit,-5,10,2}
As the previous example, but also draw the orbit trail from five
minutes before to ten minutes past the current time, calculated every
two minutes.  A second altitude circle bounding the region where the
International Space Station is more than 45 degrees above the horizon
is also drawn.

This option may be used more than once.  The default is no satellite
files.

shade
If the night image file is not found, set the brightness of the night
map to shade percent of the day map.  If shade is 100, the day and
night maps will be identical.  The default value is 30.

specular_map
Use filename as a specular reflectance file.  Normally it's just a
greyscale image where the oceans are set to 255 and the land masses
are set to 0.  This is used to display the reflection of the sun off
of the oceans.  The default is no specular file.

text_color
Specify the color for the markers and body label.  The default is red.

twilight
Let the day and night hemispheres blend into one another for pixels
within the specified number of degrees of the terminator.  The default
value is 6.
